{% load thumbnail %}
{% load user_filters %}
  <div class="col-xs-6 col-md-6 col-sm-4 mb-4">
    <article>
      <ul>
        <li>
          <i><u>Автор публикации</u>: {{ post.author.get_full_name }}</i>
          <a href="{% url 'posts:profile' post.author.username %}">все посты пользователя</a>
        </li>
        <li>
          <i><u>Дата публикации:</u> {{ post.pub_date|date:"d E Y" }}</i>
        </li>
      </ul>
      {% thumbnail post.image "960x339" upscale=True as im %}
        <a class="link-without-decoration" href="{% url 'posts:post_detail' post.pk %}">
          <img class="card-img my-2" src="{{ im.url }}" alt="{{ post.text|truncatewords:5 }}">
        </a>
      {% endthumbnail %}
      <p><h2>{{ post.title }}</h2></p>
      <p>{{ post.text|linebreaksbr |truncatechars:300 }}</p>
      <a href="{% url 'posts:post_detail' post.pk %}">подробная информация </a>
    </article>
      {% if post.group.slug %}
      <a href="{% url 'posts:group_posts' post.group.slug %}">Группа: {{ post.group.title }}
      </a>
      {% endif %}
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <div>
            {% if post|like_filter:user %}
              <a class="badge badge-pill"  href="{% url 'posts:post_dislike' post.pk %}" role="button">
                <b>Нравится</b> <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#ff4136" class="bi bi-heart" viewBox="0 0 20 20">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/></svg>
              </a>
              {{ post.liking_post.count }}
            {% else %}
              <a class="badge badge-pill"  href="{% url 'posts:post_like' post.pk %}" role="button">
                <b>Нравится</b> <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#ff4136" class="bi bi-heart" viewBox="0 0 20 20">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/></svg>
              </a>
              {{ post.liking_post.count }}
          {% endif %}

            😍
            <!-- Возвращение прокрутки на исходное место -->
                <script>
                    document.addEventListener("DOMContentLoaded", function (event) {
                        var scrollpos = localStorage.getItem('scrollpos');
                        if (scrollpos) window.scrollTo(0, scrollpos);
                    });
                    window.onbeforeunload = function (e) {
                        localStorage.setItem('scrollpos', window.scrollY);
                    };
                </script>
            <a class="badge badge-pill badge-light" href="{% url 'posts:add_comment' post.pk %}" role="button">
             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0074d9" class="bi bi-chat-left" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
              </svg>
            </a>
            <span>{{ post.comments.count }}</span>
        </div>
      </div>
    </div>
    {% if not forloop.last %}<hr>{% endif %}
  </div>
